.contact{
    background-image: url(../Assets/images/contact_g.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    columns: var(--ligth-color);
}

.contact h3{
    text-decoration: underline;
    color: var(--ligth-color);
    padding: 35px 0 30px 0;
    font-size: 1.5em;
    text-underline-offset: 10px;
    font-family: Poppins-ligth;
}
    

.contact form{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--ligth-color);
  
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
    
    
}

.contact-input{
    margin: 10px;
    background: transparent;
    border: 1px solid white;
    color: white;
    width: 650px;
    padding: 5px;
    display: flex;
}

::placeholder{
    color: white;
}

::-moz-placeholder{
    color: white;
}

.contact-textarea{
    display: flex;
    margin: 20px;
    background: transparent;
    border: 1px solid white;
    color: var(--ligth-color);
    height: 150px;
    align-items: center;
    width: 650px;
    padding: 5px;
   
} 

.sendbottom {
    color: var(--ligth-color);
    padding: 15px 60px;
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    margin: 25px 5px 40px 5px;
    max-width: 150px;
    border-radius: 25px;
}

.sendbottom:hover {
    background-color: var(--ligth-color);
    border: 2px solid var(--ligth-color);
    color: var(--secondary-color);
}


@media(max-width: 800px){
    .contact-input{
        width: 90%;
    }
    .contact-form {
    width: 85vw; 
    
    }

    .contact-textarea{
        width: 90% ;
    }
}

