#customerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#customerContainer h1 {
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
    text-align: center;
    padding: 60px 0 20px 0;
}

#customereview {
    display: flex;
    flex-direction: column;
    width: 45vw;
    border: 2px solid white;
}

#customereview img {
    width: 28px;
    height: 18px;
}

#customereview h4 {
    padding-top: 10px;
    padding-bottom: 15px;
}

#customereview p {
    padding-bottom: 70px;

}